<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Password Generator</title>
    <link rel="icon" type="image/png" href="/images/padlock.png">
    <link rel="stylesheet" href="/public/styles.css">
    <script src="/script.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Random Password Generator</h1>

        <div class="result-container">
        <div class="password-display" id="passwordDisplay">Click Generate Password</div>
        <button type="button" class="copy-btn" id="copyBtn" title="Copy to clipboard">
            <img src="/images/Copy-button.png" alt="Copy Icon">
        </button>
        </div>

        <form class="password-form" id="passwordGeneratorForm">
            <div class="setting-group">
                <label for="">Numbers of Characters</label>
                <div class="range-container">
                    <input type="range" min="1" max="50" value="15" id="characterAmountRange">
                    <input type="number" min="1" max="50" value="15" id="characterAmountNumber">
                </div>
            </div>

            <div class="checkbox-container">
                <div class="checkbox-item">
                    <label for="includeUppercase">Include Uppercase</label>
                    <input type="checkbox" id="includeUppercase">
                </div>

                <div class="checkbox-item">
                    <label for="includeNumbers">Include Numbers</label>
                    <input type="checkbox" id="includeNumbers">
                </div>

                <div class="checkbox-item">
                    <label for="includeSymbols">Include Symbols</label>
                    <input type="checkbox" id="includeSymbols">
                </div>
            </div>
            <button type="submit" class="btn">Generate Password</button>
        </form>
    </div>
</body>
</html>